<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="card">
                <div class="header">
                    <h4 class="title">Movimento</h4>
                </div>
                <div class="content">
                    <ul class="list-unstyled team-members">
                        <li>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar">
                                        <img src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    Levantamento antebraço
                                    <br />
                                    <span class="text-success">
                                        <small>Disponível</small>
                                    </span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <button *ngIf="!started" [disabled]="!movement" (click)="startMovement()" class="btn btn-sm btn-success btn-icon">
                                        <i class="fa fa-play"></i>
                                    </button>
                                    <button *ngIf="started" (click)="stopMovement()" class="btn btn-sm btn-success btn-icon">
                                        <i class="fa fa-play"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">Acompanhamento</h4>
                </div>
                <x-chartist
                [data]="data"
                [type]="type">
              </x-chartist>
                <div class="content"><div class="row">
                     
                        </div>
                </div>
            </div>
        </div>


    </div>
</div>