    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/background.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                          <img class="avatar border-white" src="assets/img/faces/samuel.jpg" alt="..."/>
                          <h4 class="title">Samuel Cleiton<br />
                             <a href="#"><small>@samuel</small></a>
                          </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <h5>0<br /><small>Sessões</small></h5>
                            </div>
                            <div class="col-md-4">
                                <h5>1<br /><small>Movimentos</small></h5>
                            </div>
                            <div class="col-md-3">
                                <h5>0<br /><small>Horas</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Movimentos</h4>
                    </div>
                    <div class="content">
                        <ul class="list-unstyled team-members">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar">
                                                    <img src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                Levantamento antebraço
                                                <br />
                                                <span class="text-success"><small>Disponível</small></span>
                                            </div>

                                            <div class="col-xs-3 text-right">
                                                <button [routerLink]="['/movements/59fe8e72edf0aee6405b4439']" class="btn btn-sm btn-success btn-icon"><i class="fa fa-play"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 text-right">
                                                <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-plus"></i></button>
                                            </div>
                                            <div class="col-xs-3">
                                                Adicionar Movimento
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Perfil</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Emprego</label>
                                        <input type="text" class="form-control border-input" placeholder="Company" value="Motoboy">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Endereço de Email</label>
                                        <input type="email" class="form-control border-input" placeholder="Email" value="cleitu_rasta@yahoo.com">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Primeiro nome</label>
                                        <input type="text" class="form-control border-input" placeholder="Company" value="Samuel">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Segundo nome</label>
                                        <input type="text" class="form-control border-input" placeholder="Last Name" value="Cleiton">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Endereço</label>
                                        <input type="text" class="form-control border-input" placeholder="Home Address" value="Santo Amaro Rua Rena n 33">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input type="text" class="form-control border-input" placeholder="City" value="Recife">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <input type="text" class="form-control border-input" placeholder="Country" value="Pernambuco">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Codigo postal</label>
                                        <input type="number" class="form-control border-input" placeholder="ZIP Code" value="5700000">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Condição</label>
                                        <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike">
Cleiton sofreu um acidente de moto e teve uma fratura na perna direita.</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Atualizar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
