
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/logo-movi.png" alt="">
            </div>
        </a>
    </div>
    <ul *ngIf="currentUser" class="nav">
            <li *ngIf="isNotMobileMenu()">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-user"></i>
					<p>{{currentUser?.username}}</p>
                </a>
            </li>
            <li class="divider" *ngIf="isNotMobileMenu()"></li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li routerLinkActive="active" class="">
            <a (click)="logout()">
                <i class="ti-angle-left"></i>
                <p>Sair</p>
            </a>
        </li>
    </ul>
</div>
